.videoFooter {
    position: absolute;
    color: white;
    bottom: 15px;
    left: 15px;
    display: flex;
    width:60%;
}


.videoFooter_text {
    flex: 1;
}

.videoFooter_text > p {
    padding-bottom: 20px;
    padding-right: 40px;
    font-size: 14px;
}

.videoFooter_icon {
    position: absolute;
}

.videoFooter_text > h3 {
    padding-bottom: 20px;
}

.videoFooter_ticker > .ticker {
    white-space: nowrap;
    height: fit-content;
    margin-left: 30px;
}

.videoFooter_ticker h1 {
    padding-top: 7px;
}

