.video-footer {
    position: absolute;
    color: white;
    bottom: 15px;
    left: 15px;
    display: flex;
    width: 60%;
}

.video-footer-text {
    flex: 1;
}

.video-footer-text > p {
    padding-bottom: 20px;
    padding-right: 40px;
    font-size: 14px;
}

.video-footer-icon {
    position: absolute;
}

.video-footer-text > h3 {
    padding-bottom: 20px;
}

.video-footer-ticker > .ticker {
    white-space: nowrap;
    height: fit-content;
    margin-left: 30px;
}

.video-footer-ticker h1 {
    padding-top: 7px;
}
