.videos-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.videos {
    position: relative;
    height: 100%;
    max-width: 1000px;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
}

.videos > ul {
    list-style: none;
    padding: 0;
    height: 100%;
}

.videos > ul > li {
    height: 100%;
}

.videos::-webkit-scrollbar {
    display: none;
}

.videos {
    -ms-overflow-style: none;
}

.videos-btn-live {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 9;
}
