.author_info {
  height: 40px;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  position: absolute;
  top: 10px;
  left: 5%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.avatar {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  margin-left: 2px;
}

.mid_box {
  height: 40px;
  width: 70px;
  margin-left: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
}

.mid_box .nick {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 70px;
  font-size: 14px;
  font-weight: bold;
}

.mid_box .favor {
  font-size: 8px;
}

.follow {
  height: 36px;
  width: 50px;
  border-radius: 18px;
  background-color: red;
  margin-right: 2px;
  text-align: center;
  line-height: 36px;
  font-weight: bold;
  font-size: 14px;
}
