.video {
    position: relative;
    background-color: white;
    height: 100%;
    scroll-snap-align: start;
}

.video-player {
    background-color: gray;
    height: 100%;
    object-fit: contain;
}