.commentArea{
    position: absolute;
    bottom: 0;
    max-height: 30%;
    overflow:scroll;
    width: 70%;
    scroll-behavior: smooth;

    /*隐藏滚动条*/
    -ms-overflow-style: none; /* IE 10+ */
    scrollbar-width: none;/* Firefox */
}

/*隐藏滚动条*/
::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}

.oneCommentArea{
    position: relative;
    background-color:rgba(0,0,0,0.3);
    margin:8px;
    border-radius: 15px;
    width: fit-content;
    padding: 5px 15px;
    max-width: 80%;
}

.commentSlide{
    animation: commentSlide 1s;
}

.comment{
    width: 100%;
    font-weight: bold;
    color: white;
    overflow-wrap: break-word;
}

.username{
    white-space: nowrap;
    color: skyblue;
}

@keyframes commentSlide {
    0%{left:-30%}
    100%{left:0}
}
