.live {
    position: relative;
    background-color: white;
    max-width: 100%;
    height: 100%;
    scroll-snap-align: start;
}

.live_player {
    background-color: gray;
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}