.videoSidebar {
    position: absolute;
    bottom: 60px;
    right: 10px;
    color: white;
}

.videoSidebar_button {
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.videoSidebar_avatar {
    padding: 10px;
    width: 35px;
    height: 35px;
}

.videoSidebar_avatar > img {
    width: 100%;
    height: 100%;
}