.writeComment{
    position: relative;
    font-size: 15px;
    color: #ecd9d9;
    bottom: 7%;
    background-color: rgba(0,0,0,0.2);
    left: 10px;
    max-width: 20%;
    text-align: center;
    padding: 5px 0;
    border-radius: 20px;
}

.commentInput{
    /*display: inline;*/
    position: relative;
    /*bottom: 7%;*/
}
