.comment-like-area
{
    height: 100%;
}
.likeIcon {
    position: absolute;
    bottom: 2%;
    right: 0;

    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px;
    z-index: 11;
}

.heart {
    position: absolute;
    height: 5%;
    animation: heartMove 3s;
    width: 8%;
    visibility: hidden;
}

.heart0 {
    left: -2%;
}

.heart1 {
    left: 0%;
    transform: rotate(29deg);
}

.heart2 {
    transform: rotate(-29deg);
    left: 2%;
}


@keyframes heartMove {
    0% {
        visibility: visible;
        bottom: 10%;
    }
    100% {
        opacity: 0;
        bottom: 50%;
    }
}
