.live {
  position: relative;
  background-color: black;
  max-width: 100%;
  height: 100%;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
}

.live_player {
  background-color: gray;
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}
